__pycache__/
.venv/
data/cex_price/raw/
.env
poetry.lock
.python-version
new_amm/.build/
references/
**/.cryo/
scripts/
tests/
.build/
data/ARBITRUM_blocks/blockNumber_timestamp_baseFeePerGas.csv
data/MAINNET_blocks/blockNumber_timestamp_baseFeePerGas.csv